<!--<!— start: PAGE TITLE —>-->
<div ng-controller="KelasEditCtrl">
  <section id="page-title">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="mainTitle" >FORM EDIT KELAS</h1>
      </div>
      <div ncy-breadcrumb></div>
    </div>
  </section>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    {{alert.msg}}
  </uib-alert>
  <!--<!— end: PAGE TITLE —>
  <!— start: FORM VALIDATION —>-->
  <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <form name="Form">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>

                                    <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">
                                        <label class="control-label">
										                     Name <span class="symbol required"></span>
									                      </label>
                                        <input type="text" placeholder="Enter your Name" class="form-control" name="name" ng-model="myModel.name" required />
                                        <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">First Name is required</span>
                                        <span class="success text-small" ng-if="Form.name.$valid">Thank You!</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':Form.descriptions.$dirty && Form.descriptions.$invalid, 'has-success':Form.descriptions.$valid}">
                                        <label class="control-label">
										                     Descriptions <span class="symbol required"></span>
								                  	</label>
                                        <input type="text" placeholder="Enter your Descriptions" class="form-control" name="descriptions" ng-model="myModel.descriptions" required />
                                        <span class="error text-small block" ng-if="Form.descriptions.$dirty && Form.descriptions.$invalid">descriptions is required</span>
                                        <span class="success text-small" ng-if="Form.descriptions.$valid">Thank You!</span>
                                    </div>

                                </fieldset>
                            </div>
                        </div>

            <div class="row">
              <div class="col-md-12">
                <div class="pull-left">
                  <button md-ink-ripple class="btn btn-primary" ng-click="updateData()"
                      ng-disabled="Form.$invalid || process">Simpan
                  </button>
                  <button md-ink-ripple class="btn btn-primary btn-o" ui-sref="app.kelas-list"
                      ng-disabled="process">Kembali
                  </button>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<!— end: FORM VALIDATION —>-->