<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
				<h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">WELCOME TO CLIP-TWO </h1>
				<!--<img src:"assets/images/logo.png">-->
            <!--<span class="mainDescription">overview &amp; stats </span>-->
        <!--</div>-->
        <!--<div class="col-sm-5">-->
            <!-- start: MINI STATS WITH SPARKLINE -->
            <!-- /// controller:  'SparklineCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
            <!--<ul class="mini-stats pull-right" ng-controller="SparklineCtrl">
                <li>
                    <div class="sparkline">
                        <span jq-sparkline ng-model="sales" type="bar" height="20px" bar-color="#D43F3A"></span>
                    </div>
                    <div class="values">
                        <strong class="text-dark">18304</strong>
                        <p class="text-small no-margin">
                            Sales
                        </p>
                    </div>
                </li>
                <li>
                    <div class="sparkline">
                        <span jq-sparkline ng-model="earnings" type="bar" height="20px" bar-color="#5CB85C"></span>
                    </div>
                    <div class="values">
                        <strong class="text-dark">&#36;3,833</strong>
                        <p class="text-small no-margin">
                            Earnings
                        </p>
                    </div>
                </li>
                <li>
                    <div class="sparkline">
                        <span jq-sparkline ng-model="referrals" type="bar" height="20px" bar-color="#46B8DA"></span>
                    </div>
                    <div class="values">
                        <strong class="text-dark">&#36;848</strong>
                        <p class="text-small no-margin">
                            Referrals
                        </p>
                    </div>
                </li>
            </ul>
             end: MINI STATS WITH SPARKLINE -->
        </div>
    </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">

                <div class="panel-body">
                    <a ui-sref="app.subjects">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i
                                class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i> </span>
                        <h2 class="StepTitle">Bidang Pelajaran</h2>
                        <p class="text-small">
                            Bidang Mata Pelajaran di SMKN 1 KEPANJEN
                        </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
					<a ui-sref="app.schedules">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i
                            class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Jadwal Sekolah</h2>
                    <p class="text-small">
                       JADWAL Sekolah SMKN 1 KEPANJEN
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
					<a ui-sref="app.teachers">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i
                            class="fa fa-user fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Data Guru</h2>
                    <p class="text-small">
                        Tampilan Data Guru SMKN 1 KEPANJEN
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FEATURED BOX LINKS -->
<!-- start: FIRST SECTION -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FOURTH SECTION -->
